tensorflow == 2.12.0
pandas 
dvc
mlflow == 2.2.2
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML  # To read yaml files
tqdm  # To see the progress bar
ensure==1.0.2
joblib
types-PyYAML 
scipy
Flask
Flask-Cors
gdown
-e .  # To install setup.py 